# Python bytecode/cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyo

# VSCode settings
.vscode/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

# dotenv
.env

# Ignore requirements lock files (optional)
poetry.lock
Pipfile.lock